/* /Users/jayyang/Desktop/exhibition-project/app/compnents/images-showcase/index.module.css */

.showcaseSection {
  width: 100vw;
  overflow: hidden;
}

.imagesContainer {
  display: flex;
  width: 100vw;
  /* 使用 CSS 变量，并设置默认值为 0 */
  transform: translateX(var(--mouse-translate-x, 0));
  flex-wrap: nowrap;
  justify-content: center;
  /* 添加过渡效果，让移动更平滑 */
  transition: transform 0.6s ease-out;
}

.imageColumn {
  height: calc(36vw + 3.6rem);
  display: flex;
  width: 20vw;
  flex-shrink: 0;
  flex-direction: column;
  padding-left: 1.8rem;
  padding-right: 1.8rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.imageWrapper {
  height: 100%;
}

.image {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
  object-fit: cover;
}

.biggerImg {
  height: calc(20vw * 1.1 - 1rem);
  margin-bottom: 3.6rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.smallerImg {
  height: calc(14vw + 1rem);
  padding: 2.4rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
